* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: "Open Sans", sans-serif;
  background: linear-gradient(rgb(27, 98, 126), rgba(27, 98, 126, 0.75));
  color: #fff;
}

body {
  width: 100%;
  padding: 2.5%;
}

img {
  border: 3px solid white;
}

a {
  color:  rgb(117, 179, 204);
  border-bottom: 3px solid #fff;
  text-decoration: none;
  font-weight: bold;
}

a:hover, a:active {
  background-color:  rgb(27, 98, 126);
  color: #fff;
  border-bottom: 3px solid rgb(27, 98, 126);
}

#welcome-section a, #welcome-section a:hover {
  border-width: 10px;
}

#projects a {
    color:  rgb(29, 78, 99);
}

#projects a:hover, #projects a:active {
    color:  #fff;
}

h1, h2, h3, #navbar {
  font-family: Montserrat, sans-serif;
}

h1 {
  font-size: 10em;
  margin-top: 5%;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
}

#navbar {
	position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
	top: 0;
	left: 0;
	width: 100%;
  background-color: #fff;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

#navbar ul {
  display: flex;
  list-style: none;
	width: 100%;
	margin: 0 auto;
  padding: 0;
}

#navbar li {
	width: 33%;
  text-align: center;
}

#navbar a {
  display: block;
  color:rgb(27, 98, 126);
  padding: 20px;
  border: none;
}

#navbar a:hover, #navbar a:active {
  background-color: rgb(27, 98, 126);
  color: #fff;
  border: none;
}

#welcome-section {
	width: 100%;
	height: 100vh;
}

#welcome-section p {
  font-size: 5em;
  margin-top: 5%;
}

#projects, #github {
  height: 100vh;
}

#projects h2 {
  margin: 10% 0 2.5%;
}

#projects h3 {
  margin-bottom: 15px;
}

.project-tile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-text {
  margin-left: 25px;
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 5em;
    margin-top: 50px;
  }
  
  #welcome-section p {
    font-size: 2.5em;
    margin-top: 5%;
  }

  #welcome-section a, #welcome-section a:hover {
    border-width: 5px;
  }

  #projects {
    text-align: center;
  }

  #projects h2 {
    margin-bottom: 50px;
  }

  #projects h3 {
    line-height: 2em;
    margin-bottom: 25px;
  }

  .project-tile {
    display: unset;
    margin: 0 auto;
  }
  
  .project-text {
    margin-left: 0;
    margin-top: 20px;
  }

  #projects h2, #projects p {
    text-align: left;
  }
}